<%= form_tag(sessions_new_path) do |f|%>
    <%= label_tag 'email' %>  
    <%= email_field_tag :email %>
    <%= label_tag :password %>  
    <%= password_field_tag :password %>  
  <div><%= submit_tag 'Iniciar Sesión' %></div>
<% end -%>
